In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Load the dataset
# Make sure the CSV file is in the same folder as your notebook
df = pd.read_csv('titanic_1M.csv')

# 1. Look at the first 5 rows
print("--- First 5 Rows ---")
print(df.head())

# 2. Get a summary of columns, data types, and null values
print("\n--- Data Info ---")
df.info()

# 3. Get statistical summary of numerical columns
print("\n--- Statistical Summary ---")
print(df.describe())

--- First 5 Rows ---
   PassengerId  Survived  Pclass                         Name     Sex   Age  \
0         1310         1       1  Name1310, Miss. Surname1310  female   NaN
1         1311         0       3   Name1311, Col. Surname1311    male  29.0
2         1312         0       3    Name1312, Mr. Surname1312    male  20.0
3         1313         0       3    Name1313, Mr. Surname1313    male  27.0
4         1314         0       3    Name1314, Mr. Surname1314    male  32.0

   SibSp  Parch            Ticket       Fare Cabin Embarked
0      0      0  SOTON/O2 3101272  76.760165   NaN        C
1      0      0            223596  10.193097   NaN        S
2      0      0             54636  12.029416   C83        C
3      0      0          PC 17760  13.429448   NaN        S
4      0      0            364512   4.840769   E33        C

--- Data Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 12 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   PassengerId  1000000 non-null  int64
 1   Survived     1000000 non-null  int64
 2   Pclass       1000000 non-null  int64
 3   Name         1000000 non-null  object
 4   Sex          1000000 non-null  object
 5   Age          801400 non-null   float64
 6   SibSp        1000000 non-null  int64
 7   Parch        1000000 non-null  int64
 8   Ticket       1000000 non-null  object
 9   Fare         1000000 non-null  float64
 10  Cabin        229805 non-null   object
 11  Embarked     997760 non-null   object
dtypes: float64(2), int64(5), object(5)
memory usage: 91.6+ MB

--- Statistical Summary ---
        PassengerId        Survived         Pclass            Age  \
count  1.000000e+06  1000000.000000  1000000.00000  801400.000000
mean   5.013095e+05        0.381681        2.31125      29.280339
std    2.886753e+05        0.485799        0.83577      12.744978
min    1.310000e+03        0.000000        1.00000       0.000000
25%    2.513098e+05        0.000000        2.00000      21.000000
50%    5.013095e+05        0.000000        3.00000      29.000000
75%    7.513092e+05        1.000000        3.00000      37.000000
max    1.001309e+06        1.000000        3.00000     114.000000

                SibSp           Parch            Fare
count  1000000.000000  1000000.000000  1000000.000000
mean         0.511101        0.360037       33.461097
std          1.104846        0.767296       47.976641
min          0.000000        0.000000        0.000000
25%          0.000000        0.000000        8.568924
50%          0.000000        0.000000       15.883647
75%          1.000000        0.000000       35.561000
max          8.000000        6.000000      640.883614